KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/idt_load.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/isrirq.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/loadAndEnablePaging.o \
$(ARCHDIR)/ps2_controller.o \
$(ARCHDIR)/ps2kb.o \
$(ARCHDIR)/shell.o \
